---
import { getCollection } from "astro:content";

import Basiclayout from "../../layouts/basiclayout.astro";

const posts = await getCollection('blog');
console.log(posts);
---
<Basiclayout>
    <div>
        {posts.map(post => (
            <div><a href={`/blog/${post.id}`}>{post.data.title}</a></div>
        ))}
    </div>
</Basiclayout>
