---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---
<!-- Home -->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>hnkkme Home</title>
    </head>
    <body>
        <Header></Header>
        <div></div>
        <Footer></Footer>
    </body>
</html>
<style></style>