---
import Basiclayout from "@/layouts/basiclayout.astro";
---

<!-- Home -->
<Basiclayout title="home" description="home">
    <h1>きーたくんのページ</h1>
    <p>
        「きーた」だったり「はんかく」だったり。もともと「きーた」だったけどヱ研discordで「ｷｰﾀ(半角)」を名乗ってから「はんかく」になった。
    </p>
    <p>ホームページ まだまだ建設中!</p>
</Basiclayout>
