---

---

<!-- Header Component -->
<header>
    <div id="pagename">
        <a href="/"
            ><img
                id="header-img"
                src="/img/syahuneko.min.png"
                alt="icon"
                width="64px"
                height="64px"
            /></a
        >
        <h1>きーたのページ</h1>
    </div>
    <div id="nav-top">
        <a href="/blog/"><p>blog</p></a>
        <a href="/app/"><p>app</p></a>
        <a href="/work/"><p>work</p></a>
    </div>
</header>
