---
import Basiclayout from "@/layouts/basiclayout.astro";

interface Props {
    title: string,
    description?: string,
    pubDate: Date,
    updDate?: Date,
}
const {title, description, pubDate, updDate} = Astro.props;
---
<Basiclayout title={title} description={"this is blog \""+title+"\""}>
    <h1>{title}</h1>
    <div>
        <p>{pubDate.toLocaleDateString()} 公開 </p>
        {updDate && (<p>{updDate?.toLocaleDateString()} 更新</p>) }
    </div>
    <slot />
</Basiclayout>